
.navbar-nav {
    justify-content: space-around !important;
    font-family: 'Roboto', sans-serif;
}
.search-icon{
 right: 22px;
 top: 6px;
}
.my-search{
  position: relative;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    position: relative;
}
.navbar-nav .nav-link.active::after, .navbar-nav .nav-link.show::after {
   content: "";
   position: absolute;
   height: 1px;
   width: 80%;
   background-color: gray;
   bottom: 7px;
   left: 5px;
   transition: width 0.3s ease, left 0.3s ease;
}
.no-arrow::after {
  display: none !important;
}
.user-icon{
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -ms-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  color: black !important;
  font-size: 15px;
}
.user-icon.hover {
  background-color: #db4444;
  color: white !important;
}
.custom-dropdown-menu{
  background-color:  rgba(52, 50, 52, 0.2) !important;
  backdrop-filter: blur(10px) !important;
}
.custom-dropdown-item{
  color: white !important;
}
.custom-dropdown-item:hover{
background-color: transparent !important;
border: none !important;
}
.nav-link span{
  background-color: #db4444;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  top: 0px;
  right: 0px;
  font-size: 12px;
  padding: 1px 4px;
  color: white;
}